<div *ngIf="!isSelected()" class="domino-module" [hidden]="!isModuleActive()">
    <h3 (click)="clicked()">
        <span>Module {{moduleNumber}}</span>
        <span class="glyphicon glyphicon-zoom-in"></span>
    </h3>
    <div class="domino-wrapper">
        <div *ngFor="let domino of dominos" [hidden]="!isOpen" (click)="dominoSelected(domino)" class="domino">
            <div [ngStyle]="{'background' : getBackgroundIn(domino)}" class="oneTop">
                {{domino.inValue}}
            </div>
            <div class="line"> </div>
            <div [ngStyle]="{'background' : getBackgroundOut(domino)}" class="oneBottom">
                {{domino.outValue}}
            </div>
        </div>
    </div>
</div>
<div *ngIf="isSelected()" class="domino-module is-selected">
    <h3 (click)="dominoDeselect()">
        <span>Module {{moduleNumber}}</span>
        <span class="glyphicon glyphicon-zoom-out"></span>
    </h3>
    <div class="domino-wrapper">
        <div class="domino" (click)="dominoDeselect()">
            <div [ngStyle]="{'background' : getBackgroundIn(getSelected())}" class="oneTop">
                {{getSelected().inValue}}
            </div>
            <div class="line"> </div>
            <div [ngStyle]="{'background' : getBackgroundOut(getSelected())}" class="oneBottom">
                {{getSelected().outValue}}
            </div>
        </div>
    </div>
</div>
