.glyphicon {
  font-size: 0.5em;
  color: #a0ced6;
}

.domino {
  text-align: left;
  float: left;
  font-size: 20px;
  color: white;
  width: 3em;
  height: 6em;
  margin: 20px;
  position: relative;
  -webkit-border-radius: .4em;
  -moz-border-radius: .4em;
  border-radius: .4em;
  background-color:#000;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.0em;
  padding-bottom: 0.0em;
}


.domino .oneTop {
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.55em;
  padding-bottom: 0.8em;
  height: 3em;
}

.domino .oneBottom {
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.8em;
  padding-bottom: 0.9em;
  height: 3em;
}

.domino .line {
  width: 2.5em;
  height: .2em;
  position: absolute;
  top: 2.8em;
  left: .25em;
  background-color: #fff;
}
