<p>
  <span *ngIf="!isSelected()">
  <h3 (click)="clicked()">Module {{moduleNumber}}<br /></h3>


    <span *ngFor="let domino of dominos" [hidden]="!isOpen">
      <span (click)="dominoSelected(domino)">{{domino.inValue}} / {{domino.outValue}}</span> <br />
    </span>
  </span>
  <span *ngIf="isSelected()">
    <h3>Module {{moduleNumber}}<span (click)="dominoDeselect()" class="glyphicon glyphicon-remove"></span></h3><br />
    {{getSelected().inValue}} / {{getSelected().outValue}}
  </span>
</p>
