
<div class="row">
  <div></div>
  <div></div>
  <span *ngIf="!isSelected()">
    <h3 (click)="clicked()">Module {{moduleNumber}}<br /></h3>
    <span *ngFor="let domino of dominos" [hidden]="!isOpen">
      <div (click)="dominoSelected(domino)" class="domino">
        <div [ngStyle]="{'background' : getBackgroundIn(domino)}" class="oneTop">
          {{domino.inValue}}
        </div>
        <div class="line"> </div>
        <div [ngStyle]="{'background' : getBackgroundOut(domino)}" class="oneBottom">
          {{domino.outValue}}
        </div>
      </div>
    </span>
  </span>
  <span *ngIf="isSelected()">
    <h3>Module {{moduleNumber}}<span (click)="dominoDeselect()" class="glyphicon glyphicon-remove"></span></h3><br />
    <div class="domino">
        <div [ngStyle]="{'background' : getBackgroundIn(getSelected())}" class="oneTop">
          {{getSelected().inValue}}
        </div>
        <div class="line"> </div>
        <div [ngStyle]="{'background' : getBackgroundOut(getSelected())}" class="oneBottom">
          {{getSelected().outValue}}
        </div>
      </div>
  </span>
</div>


