<!DOCTYPE html>
<html class="pl no-js adaptive">
<head>
            <title>ifm electronic gmbh – Prototype</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />

        <!--
            Remember that patterns are displayed from two-levels deep (e.g. patterns/patterntype-patternsubtype-patternname/patterntype-patternsubtype-patternname.html)
            Therefore all calls to assets should have the ../../ in order to work in an apache-less environment
        -->
        <style>
            .has-comment, .has-comment a {
                cursor: help !important;
            }
        </style>
        <link rel="stylesheet" href="../static/css/style.css" media="all" />
        <!-- END: DO NOT INCLUDE IN PRODUCTION -->

        <link rel="stylesheet" href="../static/css/main..css" media="all" />

        <!-- START; DO NOT INCLUDE IN PRODUCTION -->
        <!-- this js file is only for prototyping purposes -->
        <!-- END: DO NOT INCLUDE IN PRODUCTION -->

    </head>
<body class="body"> <!-- Remove class:sg-single-pattern -->


        <!-- Begin .header -->
<header>

</div>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-1 col-xs-4">
					<a href="#" class="button--navigation"><i class="fa fa-bars fa-lg"></i> <span>Navigation</span></a>
					<a href="#">
						<picture class="logo">

						</picture>
					</a>
				</div>


			</div>
		</div>
	</div>

</header>
  	  

	<section class="content--alt-1">
      <div class="wrapper">
      <div class="container-fluid">

      
				<div class="row">
					<div class="col-xs-12 col-md-8">
						<h1 class="configurator_headline">Domino</h1>
					</div>
				</div>
				<div class="configurator_step">
					<div class="col-xs-12 configurator_step_body">
						<div class="row">
							<div class="configurator_step_actions">
								<a href="#" class="button button--primary"><i class="fa fa-trash"></i> <span>Auswahl zurücksetzen</span></a>
								<a href="#" class="button button--quaternary"><i class="fa fa-info-circle"></i> <span>zu den Produktdetails</span></a>
							</div>
							<figure class="configurator_step_imgwrapper">
								<picture class="configurator_step_picture">
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="../../assets/images/example--productnews-3.xl.jpg" media="(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px), (min-resolution: 144dpi) and (min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.l.jpg" media="(min-width: 1280px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.s.jpg" media="(min-width: 768px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 0px)">
									<!--[if IE 9]></video><![endif]-->
									<img class="configurator_step_img" alt="" src="../../assets/images/example--productnews-3.xl.jpg" style="">
								</picture>
							</figure>
							<h3 class="configurator_step_headline">Temperatursensoren und Auswerteelektroniken: Produktbezeichnung <a href="#" class="configurator_step_close"><i class="fa fa-times"></i></a></h3>
							<ul class="configurator_product_chosen_bullets">
								<li>Schaltabstand: 60 mm</li>
								<li>Abmessungen: M12 x 1 / L = 93 mm</li>
								<li>Betriebsspannung DC: 10…36 V</li>
								<li>Umgebungstemperatur: -25≥120 °C</li>
								<li>Schutzart: IP 65 / IP 68 / IP 69K</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="configurator_step">
					<div class="col-xs-12 configurator_step_body">
						<div class="row">
							<figure class="configurator_step_imgwrapper">
								<picture class="configurator_step_picture">
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="../../assets/images/example--productnews-3.xl.jpg" media="(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px), (min-resolution: 144dpi) and (min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.l.jpg" media="(min-width: 1280px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.s.jpg" media="(min-width: 768px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 0px)">
									<!--[if IE 9]></video><![endif]-->
									<img class="configurator_step_img" alt="" src="../../assets/images/example--productnews-3.xl.jpg" style="">
								</picture>
							</figure>
							<h3 class="configurator_step_headline">Anbau/Verbindung <a href="#" class="configurator_step_close"><i class="fa fa-times"></i></a></h3>
							<div class="configurator_step_choose_container">
								<a href="#" class="button button--primary configurator_step_choose"><i class="fa fa-plus"></i> <span>Produkt auswählen</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="configurator_step configurator_step--active">
					<div class="col-xs-12 configurator_step_body">
						<div class="row">
							<figure class="configurator_step_imgwrapper">
								<picture class="configurator_step_picture">
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="../../assets/images/example--productnews-3.xl.jpg" media="(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px), (min-resolution: 144dpi) and (min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.l.jpg" media="(min-width: 1280px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.s.jpg" media="(min-width: 768px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 0px)">
									<!--[if IE 9]></video><![endif]-->
									<img class="configurator_step_img" alt="" src="../../assets/images/example--productnews-3.xl.jpg" style="">
								</picture>
							</figure>
							<h3 class="configurator_step_headline">PT100/PT1000/Einschraub-/Kabel-/Stabsensoren <a href="#" class="configurator_step_close"><i class="fa fa-times"></i></a></h3>
							<div class="row">
								<div class="col-md-4 col-xs-12 configurator_selector_container">SELECTOR</div>
								<div class="col-md-8 col-xs-12">
									<h3 class="configurator_choose_headline">Produktauswahl</h3>
									<form>
										<ol class="configurator_product_list">
											<li class="configurator_product_body configurator_product_body--active">
												<div class="row">
													<div class="col-sm-1 col-xs-1 configurator_product_input"><input type="radio" name="step_3_list" checked></div>
													<div class="col-sm-2 col-xs-11">
														<figure class="configurator_product_imgwrapper">
															<picture class="configurator_product_picture">
																<!--[if IE 9]><video style="display: none;"><![endif]-->
																<source srcset="../../assets/images/example--productnews-3.xl.jpg" media="(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px), (min-resolution: 144dpi) and (min-width: 1024px)">
																<source srcset="../../assets/images/example--productnews-3.l.jpg" media="(min-width: 1280px)">
																<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 1024px)">
																<source srcset="../../assets/images/example--productnews-3.s.jpg" media="(min-width: 768px)">
																<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 0px)">
																<!--[if IE 9]></video><![endif]-->
																<img class="configurator_product_img" alt="" src="../../assets/images/example--productnews-3.xl.jpg" style="">
															</picture>
														</figure>
													</div>
													<div class="col-sm-9 col-xs-12">
														<a href="#" class="button--quaternary button--details"><i class="fa fa-info-circle"></i> <span>zu den Produktdetails</span></a>
														<h4 class="configurator_product_body_headline">Produktbezeichnung</h4>
														<p class="configurator_product_body_price">Listenpreis: 98,41 EUR</p>
													</div>
												</div>
												<div class="row configurator_product_expansion">
													<div class="col-sm-11 col-sm-offset-1 col-xs-12">
														<ul class="configurator_product_bullets">
															<li>Schaltabstand: 60 mm</li>
															<li>Abmessungen: M12 x 1 / L = 93 mm</li>
															<li>Betriebsspannung DC: 10…36 V</li>
															<li>Umgebungstemperatur: -25≥120 °C</li>
															<li>Schutzart: IP 65 / IP 68 / IP 69K</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="configurator_product_body">
												<div class="row">
													<div class="col-xs-1 configurator_product_input"><input type="radio" name="step_3_list"></div>
													<div class="col-xs-2">
														<figure class="configurator_product_imgwrapper">
															<picture class="configurator_product_picture">
																<!--[if IE 9]><video style="display: none;"><![endif]-->
																<source srcset="../../assets/images/example--productnews-3.xl.jpg" media="(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px), (min-resolution: 144dpi) and (min-width: 1024px)">
																<source srcset="../../assets/images/example--productnews-3.l.jpg" media="(min-width: 1280px)">
																<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 1024px)">
																<source srcset="../../assets/images/example--productnews-3.s.jpg" media="(min-width: 768px)">
																<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 0px)">
																<!--[if IE 9]></video><![endif]-->
																<img class="configurator_product_img" alt="" src="../../assets/images/example--productnews-3.xl.jpg" style="">
															</picture>
														</figure>
													</div>
													<div class="col-xs-9">
														<a href="#" class="button--quaternary button--details"><i class="fa fa-info-circle"></i> <span>zu den Produktdetails</span></a>
														<h4 class="configurator_product_body_headline">Produktbezeichnung</h4>
														<p class="configurator_product_body_price">Listenpreis: 98,41 EUR</p>
													</div>
												</div>
												<div class="row configurator_product_expansion">
													<div class="col-sm-11 col-sm-offset-1 col-xs-12">
														<ul class="configurator_product_bullets">
															<li>Schaltabstand: 60 mm</li>
															<li>Abmessungen: M12 x 1 / L = 93 mm</li>
															<li>Betriebsspannung DC: 10…36 V</li>
															<li>Umgebungstemperatur: -25≥120 °C</li>
															<li>Schutzart: IP 65 / IP 68 / IP 69K</li>
														</ul>
													</div>
												</div>

											</li>
											<li class="configurator_product_body configurator_product_body--inactive">
												<div class="row">
													<div class="col-xs-1 configurator_product_input"><input type="radio" name="step_3_list"></div>
													<div class="col-xs-2">
														<figure class="configurator_product_imgwrapper">
															<picture class="configurator_product_picture">
																<!--[if IE 9]><video style="display: none;"><![endif]-->
																<source srcset="../../assets/images/example--productnews-3.xl.jpg" media="(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px), (min-resolution: 144dpi) and (min-width: 1024px)">
																<source srcset="../../assets/images/example--productnews-3.l.jpg" media="(min-width: 1280px)">
																<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 1024px)">
																<source srcset="../../assets/images/example--productnews-3.s.jpg" media="(min-width: 768px)">
																<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 0px)">
																<!--[if IE 9]></video><![endif]-->
																<img class="configurator_product_img" alt="" src="../../assets/images/example--productnews-3.xl.jpg" style="">
															</picture>
														</figure>
													</div>
													<div class="col-xs-9">
														<h4 class="configurator_product_body_headline">Produktbezeichnung</h4>
														<p class="configurator_product_body_price">Listenpreis: 98,41 EUR</p>
													</div>
												</div>
												<div class="row configurator_product_expansion">
													<div class="col-sm-11 col-sm-offset-1 col-xs-12">
														<ul class="configurator_product_bullets">
															<li>Schaltabstand: 60 mm</li>
															<li>Abmessungen: M12 x 1 / L = 93 mm</li>
															<li>Betriebsspannung DC: 10…36 V</li>
															<li>Umgebungstemperatur: -25≥120 °C</li>
															<li>Schutzart: IP 65 / IP 68 / IP 69K</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="configurator_product_body configurator_product_body--inactive">
												<div class="row">
													<div class="col-xs-1 configurator_product_input"><input type="radio" name="step_3_list"></div>
													<div class="col-xs-2">
														<figure class="configurator_product_imgwrapper">
															<picture class="configurator_product_picture">
																<!--[if IE 9]><video style="display: none;"><![endif]-->
																<source srcset="../../assets/images/example--productnews-3.xl.jpg" media="(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px), (min-resolution: 144dpi) and (min-width: 1024px)">
																<source srcset="../../assets/images/example--productnews-3.l.jpg" media="(min-width: 1280px)">
																<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 1024px)">
																<source srcset="../../assets/images/example--productnews-3.s.jpg" media="(min-width: 768px)">
																<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 0px)">
																<!--[if IE 9]></video><![endif]-->
																<img class="configurator_product_img" alt="" src="../../assets/images/example--productnews-3.xl.jpg" style="">
															</picture>
														</figure>
													</div>
													<div class="col-xs-9">
														<h4 class="configurator_product_body_headline">Produktbezeichnung</h4>
														<p class="configurator_product_body_price">Listenpreis: 98,41 EUR</p>
													</div>
												</div>
												<div class="row configurator_product_expansion">
													<div class="col-sm-11 col-sm-offset-1 col-xs-12">
														<ul class="configurator_product_bullets">
															<li>Schaltabstand: 60 mm</li>
															<li>Abmessungen: M12 x 1 / L = 93 mm</li>
															<li>Betriebsspannung DC: 10…36 V</li>
															<li>Umgebungstemperatur: -25≥120 °C</li>
															<li>Schutzart: IP 65 / IP 68 / IP 69K</li>
														</ul>
													</div>
												</div>
											</li>
										</ol>
									</form>

									<div class="button-group configurator_product_body_apply">
										<a href="#" class="button--primary"><i class="fa fa-check"></i> <span>Auswahl übernehmen</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="configurator_step">
					<div class="col-xs-12 configurator_step_body">
						<div class="row">
							<figure class="configurator_step_imgwrapper">
								<picture class="configurator_step_picture">
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="../../assets/images/example--productnews-3.xl.jpg" media="(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px), (min-resolution: 144dpi) and (min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.l.jpg" media="(min-width: 1280px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.s.jpg" media="(min-width: 768px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 0px)">
									<!--[if IE 9]></video><![endif]-->
									<img class="configurator_step_img" alt="" src="../../assets/images/example--productnews-3.xl.jpg" style="">
								</picture>
							</figure>
							<h3 class="configurator_step_headline">Adaption ins Medium/an Schutzrohr <a href="#" class="configurator_step_close"><i class="fa fa-times"></i></a></h3>
							<div class="configurator_step_choose_container">
								<a href="#" class="button button--primary configurator_step_choose"><i class="fa fa-plus"></i> <span>Produkt auswählen</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="configurator_step configurator_step--inactive">
					<div class="col-xs-12 configurator_step_body">
						<div class="row">
							<figure class="configurator_step_imgwrapper">
								<picture class="configurator_step_picture">
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="../../assets/images/example--productnews-3.xl.jpg" media="(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px), (min-resolution: 144dpi) and (min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.l.jpg" media="(min-width: 1280px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 1024px)">
									<source srcset="../../assets/images/example--productnews-3.s.jpg" media="(min-width: 768px)">
									<source srcset="../../assets/images/example--productnews-3.m.jpg" media="(min-width: 0px)">
									<!--[if IE 9]></video><![endif]-->
									<img class="configurator_step_img" alt="" src="../../assets/images/example--productnews-3.xl.jpg" style="">
								</picture>
							</figure>
							<div class="configurator_step_actions">
								<a href="#" class="button button--primary"><i class="fa fa-trash"></i> <span>Abhängigkeiten auflösen</span></a>
							</div>
							<h3 class="configurator_step_headline">Schutzrohr <a href="#" class="configurator_step_close"><i class="fa fa-times"></i></a></h3>
							<p class="configurator_step_dependencies"><i class="fa fa-exclamation-triangle"></i> Abhängigkeiten: <span>Temperatursensoren und Auswerteelektroniken</span> <span>Temperatursensoren</span> <span>Auswerteelektroniken</span> <span>Test</span> <span>Test</span> <span>Test</span></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<form class="configurator_result">
							<table class="configurator_result_table">
								<thead>
									<tr>
										<th>Schritt</th>
										<th>Anzahl</th>
										<th>Bezeichnung</th>
										<th>Preis</th>
										<th>Löschen</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td colspan="3">
											<strong>Gesamt:</strong>
										</td>
										<td colspan="2">
											<strong>199,00 EUR</strong>
										</td>
									</tr>
								</tfoot>
								<tbody>
									<tr>
										<td>Temperatursensoren und Auswerteelektroniken</td>
										<td><input type="number" min="1" max="999" value="1"></td>
										<td>PI2795</td>
										<td>199,00 EUR</td>
										<td><a href="#"><i class="fa fa-trash"></i></a></td>
									</tr>
								</tbody>
							</table>
							<button class="button button--cta configurator_result_button" type="submit"><i class="fa fa-cart-plus"></i> Diese Konfiguration in den Warenkorb legen</button>
						</form>
					</div>
				</div>
      </div>
    </div>
  </section>


<!-- Begin Footer -->
<footer>

</footer>
<!-- End Footer -->

    </body>
</html>
